/* #main-body{
    
    padding-left: 100px;
    padding-top: 100px;
} */
#top-body{
    background-image: url('https://images.unsplash.com/photo-1604014237800-1c9102c219da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:600px;
    /* border: 1px solid red; */
    padding-left: 100px;
    padding-top: 100px;
}
h1>span{
    color:#BE123C;
    font-size: 60px;
    margin-left: 20px;

}
h1{
    font-size: 70px;
}
p{
    margin-left: -30px;
    font-size: 25px;
}
#main-body>p>span{
    margin-left: 30px;
}
#buttons-body{
    display: flex;
    gap: 40px;
}
#middle-body{
    padding: 50px;
    display: flex;
    gap: 100px;
}
#middle-right-sec{
    background-color: rgb(223, 219, 219);
    padding: 40px;

}
