#card-container{
    width: 400px;
    height: auto;
    border-radius: 10px;
   
}
#card-container>p{
     font-size: 20px;


}
#main-card-cont{
    display: flex;
    flex-direction: column;
    gap: 20px;
}