#card{
    padding: 20px;
    box-shadow: 0 0 5px gray;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}